:root {
  --navbar-height: 75px;
  --sidebar-width: 350px;

  font-family: "Arial";
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;
  width: 100%;
  height: var(--navbar-height);

  background-color: var(--primary-color);
  box-shadow: 0 1px 5px var(--shadow-color);
}

.sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;

  height: 100%;
  width: var(--sidebar-width);
  z-index: 9000;

  overflow-y: auto;

  background-color: var(--primary-color);
}

.event-setting {
  width: calc(100% - 20px);
  min-height: 25px;

  margin: 10px auto;

  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.event-setting input {
  width: 100%;
  margin: 0;
  padding: 1ex;
  border: none;
  color: inherit;
  font-weight: bold;
}

.event-setting h4 {
  margin: 0;
  padding: 1ex;
}
