:root {
  --navbar-height: 75px;
  --sidebar-width: 350px;

  font-family: "Arial";
}

.sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;

  height: 100%;
  width: var(--sidebar-width);
  z-index: 9000;

  overflow-y: auto;

  background-color: var(--primary-color);
}

.search-bg {
  background: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 3ex;
}

.event-setting {
  width: calc(100% - 20px);
  min-height: 25px;

  margin: 10px auto;

  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.event-setting input {
  width: 100%;
  margin: 0;
  padding: 1ex;
  border: none;
  color: inherit;
  font-weight: bold;
}

.event-setting h4 {
  margin: 0;
  padding: 1ex;
}

.button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: .5ex;
  font-weight: bold;
}

.button:hover {
  box-shadow: var(--shadow-color) 0 4px 0px 0;
  transform: translate(0, -4px);
}

.button:active {
  box-shadow: none;
  transform: translate(0, 0);
}

.button::-moz-focus-inner {
  border: 0;
}

.nav-button {
  --button-margin: 10px;
  font-size: large;
  margin-top: var(--button-margin);
  margin-right: var(--button-margin);
  float: right;
  padding: 1.5ex;
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;
  width: 100%;
  height: var(--navbar-height);

  background-color: var(--primary-color);
  box-shadow: 0 1px 5px var(--shadow-color);
}
