:root {
  --navbar-height: 75px;
  --sidebar-width: 350px;

  font-family: "Arial";
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.secondary-bg-color {
  background-color: var(--secondary-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.flex {
  display: flex;
}

.sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;

  height: 100%;
  width: var(--sidebar-width);
  z-index: 9000;

  overflow-y: auto;
}

.search-bg {
  background: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 3ex;
}

.event-setting {
  width: calc(100% - 20px);
  min-height: 25px;

  margin: 10px auto;
}

.input-text {
  width: 100%;
  margin: 0;
  padding: 1ex;
  border: none;
  font-weight: bold;
}

.event-setting h4 {
  margin: 0;
  padding: 1ex;
}

.button {
  border: 1px solid var(--primary-color);
  border-radius: .5ex;
  font-weight: bold;
}

.button:hover {
  box-shadow: var(--shadow-color) 0 4px 0px 0;
  transform: translate(0, -4px);
}

.button:active {
  box-shadow: none;
  transform: translate(0, 0);
}

.button::-moz-focus-inner {
  border: 0;
}

.nav-button {
  margin-right: 10px;
  font-size: large;
  padding: 1.5ex;
  align-items: center;
}

.sidebar-button {
  font-size: x-large;
  padding: 1ex;
  width: calc(var(--sidebar-width) - 15px);
  position: fixed;
  left: 7px;
  bottom: 7px;
}

.profile {
  display: flex;
  align-items: center;
  width: var(--sidebar-width);
  height: var(--navbar-height);
  margin: 5px;
}

.profile img {
  width: 60px;
  height: 60px;
  padding: 1ex;
}

.profile h2 {
  color: var(--secondary-color);
  padding: 1ex;
}

.hidden {
  visibility: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;
  padding: 2ex;

  z-index: 9999;
  width: 50%;
  height: 50%;

  box-shadow: 0 0 10px 1000px var(--shadow-color);

  border-radius: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 9500;
  width: 100%;
  height: var(--navbar-height);

  box-shadow: 0 1px 5px var(--shadow-color);
}
